:root {
    --color: rgb(255, 255, 255);
}
.opt-out-tw {
    color: var(--color, white);
}
.opt-out-tw a {
    color: var(--color, white);
}

.opt-out-tc {
    text-decoration: line-through;
}

.opt-out-trem {
    display: none;
}

.report-button-container {
    display: flex;
    justify-content: space-around;
}

.report-button {
    width: 180px;
    height: 40px;
    padding-left: 37px;
    border-radius: 5px;
}

.report-button_is {
    background: 5px center no-repeat url(../popup/assets/angry.svg);
    background-size: auto 80%;
}

.report-button_isnt {
    background: 5px center no-repeat url(../popup/assets/happy.svg);
    background-size: auto 80%;
}
