:root {
    --color: rgb(255, 255, 255);
}

.opt-out-tw {
    color: var(--color, white);
}

.opt-out-tw a {
    color: var(--color, white);
}

.opt-out-tw span {
    color: var(--color, white);
}

.opt-out-tc {
    text-decoration: line-through;
}

.opt-out-trem {
    display: none;
}
